.kolomlabel {
	width: 30%;
	
	padding: 2px;
	align-content: start;
}

.kolominput {
	width: 50%;
	
	padding: 2px;
	align-content: start;
}

.kolom-header {
	padding: 8px;
}

.even-style tr:nth-child(even){
	background-color: #f9f8f4;
}

.output-area {
	width: 80%;
	margin: 20px auto 10px auto;
}

#iframepdf {
	width: 100%;
	margin: auto;
	display: none;
}
